<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мафынки</title>
</head>
<body>
<h1>Мафынки</h1>
<table border="1">
    <thead>
    <tr>
        <th>Model</th>
        <th>Year</th>
        <th>Horsepowers</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.year}"></td>
        <td th:text="${car.HP}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>